.coutries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.country{
    border: 2px solid goldenrod;
    background-color: grey;
    border-radius: 15px ;
    padding: 20px;
}


.country img {

    width: 200px;
    display: flex;
}
   
